@import './vartital.scss';
.listBox{
    width: w(375);
    padding-left: left(15);
    padding-right: right(15);
    box-sizing: border-box;
    h2{
        padding-top: 25px;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 400;
        color: #333;
        line-height: 20px;
    }
    .cht_more{
        float: right;
        color: #999999;
        font-size: 14px;
        height: 20px;
        padding: 0 15px;
        line-height: 20px;
        padding-right: 10px;
        background-size: 6px auto;
    }
    .ulBox{
        width: 100%;
        overflow-x: auto;
       
    }
    //使用滚动条伪类来隐藏滚动条
    .ulBox::-webkit-scrollbar {
        display: none;
      }
    ul{
        width: w(1100);
        li{
           float: left;
            list-style: none;
            margin-right: right(20);
            width: w(160) ;
            height: h(141) ;
            margin-right: right(15);
           
            div{
                width: 100%;
                height: h(90);
                border: 1px solid red;
                 border-radius: 5px;
                 margin-bottom: bottom(10);
            }
        }
    }
    .newHome{
        position:relative;
        height: h(201);
        width: w(345);
        background: #fff;
       
    }
    .overseas{
        position:relative;
         height: h(226);
         background: #fff;
         overflow-x: auto;
         overflow: hidden;
    }
    .zufang{
        position:relative;
         height: h(668);
         background: #fff;
         overflow-x: auto;
         overflow: hidden;
    }
}