@import './vartital.scss';
.ulBox{
    margin-top: top(20);
    margin-bottom: bottom(67);
    .houseLi{
        list-style: none;
        margin-top: top(20);
        height: h(85);
        width: w(375);
        padding-left: left(15);
        padding-right: right(15);
        box-sizing: border-box;
        .img{
            float: left;
            width: w(80);
            height: h(80);
            margin-top: top(2);
            background: #ddd;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .housedesc{
            width: w(239);
            height: 100%;
            float: right;
            .titleBox{
                color: #333;
                font-size: fs(14);
                height: h(17);
                line-height: lh(17);
                .housePrice{
                    display: inline-block;
                    width: w(80);
                    height: h(17);
                    line-height: lh(17);
                    color: red;
                    float: right;
                }
                
            }
            .houseTitle{
                display: inline-block;
            }
            .junjia{
                height: h(40);
                width: 100%;
                font-size: fs(11);
                color: #999;
                margin-top: top(5);
                
            }
            .huxing{
                color: #757575;
                font-size: fs(12);
            }
        }
    }
}
